body {
  margin: 0; 
  padding: 0;
  background-color: rgb(246, 224, 195);
}
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo img {
  width: 100%; 
  max-width: 350px;
  height: auto;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main_image img {
  width: 100%;
  height: auto;
}

.main_content {
  max-width: 90%; 
}


.valves_section img {
  width: 100%; 
  max-width: 90%; 
  height: auto;
}

h4,
h5,
h6 {
  text-align: center;
  max-width: 90%;
  margin: 0 auto; 
}

hr {
  border: none;
  background-color: rgb(140, 8, 8);
  height: 2px;
  margin: 0.8rem auto; 
  max-width: 90%;
}

p {
  font-size: 12px;
  text-align: center;
  max-width: 90%;
  margin: 0 auto; 
}

.footer_section {
  display: flex;
  flex-wrap: wrap; 
  justify-content: space-evenly;
  align-items: center;
  background-color: red;
  height: auto; 
  padding: 1rem;
}

.footer_section > div {
  margin: 0.5rem;
}

.footer_section span {
  margin-left: 0.5rem; 
}

/* Media query for mobile devices */
@media (max-width: 450px) {
  .main{
    display: flex;
    flex-direction: column;
  }
  .main_image img{
    max-width: 200px;
  }
  .main_content img {
    max-width: 350px;
  }
  .main_content h1{
    font-size: 12px;
  }
  
}
